/* App.css */
.App {
  text-align: center;
  background-color: black; /* Set background color to black */
  min-height: 100vh; /* Ensure the app covers the full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

