/* Cell.css */
.Cell {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  cursor: pointer;
  background-color: grey; /* Set unlit cell color to grey */
}

.Cell-lit {
  background-color: yellow; /* Set lit cell color to yellow */
}
